:root {
    --lighterglass: rgba(255, 255, 255, 0.7);
    --lightglass: rgba(255, 255, 255, 0.3);
    --darkerglass: rgba(67, 67, 67, 0.7);
    --darkglass: rgba(67, 67, 67, 0.3);
    --glassblur: 2rem;
}

*, *:before, *:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    overflow: hidden;
    width: 100%;
    height: 100%;
    letter-spacing: 2px;
    color: white;
}

img {
    display: block;
    max-width: 100%;
}

a {
    color: white;
}

section.hero {
    height: 100vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(/assets/img/night.jpg);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    position: relative;
}

.glass-container {
    z-index: 1;
    padding: 1rem;
    border-radius: .5rem;
    backdrop-filter: blur(--glassblur);
    -webkit-backdrop-filter: blur(--glassblur);
    text-align: center;
    background: linear-gradient(to right bottom, var(--darkerglass), var(--darkglass));
}

.time-text {
    font-size: 50px;
    font-weight: 500;
}

.date-text {
    font-size: 16px;
    font-weight: lighter;
}

.slick-slider {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.forecast-card {
    width: 100%;
    margin: 0 .25rem;
    padding: .25rem;
    border-radius: .5rem;
}

.slick-arrow {
    display: none !important;
}

.details-text {
    font-size: 14px;
    font-weight: lighter;
}

.forecast-card-icon {
    width: 50px;
    height: 50px;
    margin: .25rem auto;
}

.forecast-temp-container, .details-text-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.details-text-container img {
    width: 25%;
    margin: 0 .15rem;
}

.current-weather-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.city-text {
    font-weight: lighter;
}

.three-dots {
    font-size: 1.56rem;
    color: white;
    font-weight: lighter;
}

.curr-temp-text {
    font-size: 3.12rem;
}

.current-weather-img {
    width: 100px;
    height: 100px;
}

.footer-nav-container {
    position: relative;
    width: 100%;
    margin-bottom: 0;
}